/*Import des fonts - DEBUT*/
@font-face {
  font-family: 'perfect_dos_vga_437_winRg';
  src: url('assets/font/perfect_dos_vga_437_win-webfont.woff2') format('woff2'),
      url('assets/font/perfect_dos_vga_437_win-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'quicksandlight';
  src: url('assets/font/quicksand-variablefont_wght-webfont.woff2') format('woff2'),
      url('assets/font/quicksand-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
/*Import des fonts - FIN*/

/*Essai video en bg - DEBUT*/
#background-video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
@media (max-width: 750px) {
  #background-video { display: none; }
  body {
    background: url("./assets/Bonfire_sparks.mp4") no-repeat;
    background-size: cover;
  }
}
/*Essai video en bg - FIN*/

h1 {
  font-family: 'perfect_dos_vga_437_winRg', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
  letter-spacing: -5px;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.753);
  font-size: 8vw;
  position: relative;
  color: #F7D4D2;
}

/*Animation du h1 - DEBUT*/
.line {
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.anim-typewriter {
  animation-duration: 1s;
  animation:
  typewriter 4s steps(40) 1s 1 normal both,
  blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
  from {
        width: 0;
  }
  to {
        width: 16em;
  }
}

@keyframes blinkTextCursor {
  from {
        border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
        border-right-color: transparent;
  }
}
/*Animation du h1 - FIN*/

h2{
  color: white;
  font-size: 4vw;
}

h3{
  color: white;
  font-size: 2vw;
}

body {
  font-family: 'quicksandlight', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
}

body{
  background-color: #3E3952;
  /*background-image: linear-gradient(to right, #a8caba 0%, #5d4157 100%);*/
  /*background-image: linear-gradient(-20deg, #dcb0ed 0%, #99c99c 100%);*/
  /*background-image: linear-gradient(45deg, #8baaaa 0%, #ae8b9c 100%);*/
  }

app-root {
  display: block;
  height: 100%;
}

.user-input{
  border: 2px solid rgba(0, 0, 0, 0.233);
  background-color: rgba(148, 132, 132, 0);
  width: 414px;
  height: 51px;
  border-radius : 18px;

}

.user-input::placeholder{
  color: white;
}

.user-go{
  border-radius : 18px;
  background: rgba(193, 164, 179, 0.253);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border : none;
  width: 207px;
  height: 56px;
  color: white;
  cursor: pointer;
  backface-visibility: hidden;
  transition: all .3s;
}

.user-go:hover{
  transform: translateY(-5px);
  box-shadow: 0px 8px 60px -10px rgba(13,28,39,0.6);
}

.user-go-link{
  color: white;
  text-decoration: none;
  background-color: rgba(193, 164, 179, 0);
}

.user-create{
  border-radius : 18px;
  background: rgba(143, 102, 132, 0.82);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border : none;
  /*width: 207px;*/
  height: 56px;
  color: white;
  cursor: pointer;
  backface-visibility: hidden;
  transition: all .3s;
}

.user-create:hover{
  transform: translateY(-5px);
  box-shadow: 0px 8px 60px -10px rgba(13,28,39,0.6);

}

.simpl-white{
  color: white;
}

a{
  cursor: pointer;
}

.override-form-check-input:checked{
  background-color: rgba(148, 132, 132, 0.82);
  border-color: rgba(148, 132, 132, 0.82);
}

.card-hover{
  cursor: pointer;
  backface-visibility: hidden;
  transition: all .3s;
  }

.card-hover:hover{
  transform: translateY(-5px);
  box-shadow: 0px 8px 60px -10px rgba(13,28,39,0.6);
}

.glass{
  background: rgba(255, 255, 255, 0.1);
  box-sizing: 20px 20px 50px rgba(0,0,0,0.5);
  color: white;
  border-radius: 10px;
  border-top: 1px solid rgba(255,255,255,0.5);
  border-left: 1px solid rgba(255,255,255,0.5);
  backdrop-filter: blur(5px);
}

