<div class="d-flex">
  <img class="col-4 d-flex justify-content-left align-items-center" src="../assets/Heroes_Foundy_Logo_sans_fond.png"/>
  <h2 class="col-8 d-flex justify-content-left align-items-center">Choisis ta race !</h2>
</div>

<div class="justify-content-center row p-3">


  <div class=" col-3">
    <a class="link-card">
      <div class="glass card card-hover">
        <div class="card-body">
            <h5 class="card-title d-flex justify-content-center">Humain</h5>
            <img src="../assets/img/humain.jpg">

        </div>
    </div>
  </a>
</div>



<div class="col-3 cards">
  <a class="link-card">
    <div class="glass card card-hover">
        <div class="card-body">
            <h5 class="card-title d-flex justify-content-center">Nain</h5>
            <img src="../assets/img/nain.jpeg">
        </div>
    </div>
  </a>
</div>
<div class=" col-3 cards">
  <a class="link-card">
    <div class="glass card card-hover">
        <div class="card-body">
            <h5 class="card-title d-flex justify-content-center">Elfe</h5>
            <img src="../../assets/img/elfe.jpg">
        </div>
    </div>
  </a>
</div>
</div>

<div class="justify-content-center row p-3">
  <div class=" col-3">
    <a class="link-card">
      <div class="glass card card-hover">
        <div class="card-body">
            <h5 class="card-title d-flex justify-content-center">Gnome</h5>
            <img src="../../assets/img/gnome.jpg">
        </div>
    </div>
  </a>
</div>
<div class="col-3 cards">
  <a class="link-card">
    <div class="glass card card-hover">
        <div class="card-body">
            <h5 class="card-title d-flex justify-content-center">Halfelin</h5>
            <img src="../../assets/img/halfelin.jpeg">
        </div>
    </div>
  </a>
</div>
<div class=" col-3 cards">
  <a class="link-card">
    <div class="glass card card-hover">
        <div class="card-body">
            <h5 class="card-title d-flex justify-content-center">Tieffelin</h5>
            <img src="../../assets/img/tieffelin.jpeg">
        </div>
    </div>
  </a>
</div>
</div>

<select [(ngModel)] = "race">
  <option value="Humain">Humain</option>
  <option value="Elfe">Elfe</option>
  <option value="Nain">Nain</option>
  <option value="Gnome">Gnome</option>
  <option value="Tieffelin">Tieffelin</option>
  <option value="Halfelin">Halfelin</option>
</select>

<div class="mx-5 mt-3 row d-flex justify-content-end">
<div class="col-2">
  <button class="user-create d-flex justify-content-center p-3" (click)="saveRace()">Suivant
  </button>
</div>
</div>
