<div class="d-flex">
  <img
    class="col-4 d-flex justify-content-left align-items-center"
    src="../assets/Heroes_Foundy_Logo_sans_fond.png"
  />
  <h2 class="col-8 d-flex justify-content-left align-items-center">
    Définis tes caractéristiques !
  </h2>
</div>

<div class="row p-3 d-flex justify-content-center">
  <div class="col-6 d-flex justify-content-center">
    <p class="text-carac">
      Vous avez <span id="totalPoints">{{ totalPointsResult }}</span> points à
      répartir entre vos valeurs de caractéritiques. Le prix de chaque valeur de
      caractéristique est indiqué dans la table ci-dessous :
    </p>
  </div>
</div>

<div class="row d-flex justify-content-center">
  <div class="col-3">
    <table class="override-table table">
      <thead>
        <tr>
          <th class="override-th" scope="col">Valeur</th>
          <th class="override-th" scope="col">Points</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="override-td">8</td>
          <td class="override-td">10</td>
        </tr>
        <tr>
          <td class="override-td">9</td>
          <td class="override-td">1</td>
        </tr>
        <tr>
          <td class="override-td">10</td>
          <td class="override-td">2</td>
        </tr>
        <tr>
          <td class="override-td">11</td>
          <td class="override-td">3</td>
        </tr>
        <tr>
          <td class="override-td">12</td>
          <td class="override-td">4</td>
        </tr>
        <tr>
          <td class="override-td">13</td>
          <td class="override-td">5</td>
        </tr>
        <tr>
          <td class="override-td">14</td>
          <td class="override-td">7</td>
        </tr>
        <tr>
          <td class="override-td">15</td>
          <td class="override-td">9</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row d-flex justify-content-center">
  <div class="col-4">
    <div class="mt-3 row">
      <div class="col-3"><label>FORCE</label></div>
      <div class="col">
        <input
          [ngModel]="forceValue"
          (ngModelChange)="forceValueChange($event)"
          type="number"
          min="8"
          max="15"
          value="8"
        />
      </div>
    </div>
    <div class="mt-3 row">
      <div class="col-3"><label>CHARISME</label></div>
      <div class="col">
        <input
          [ngModel]="charismeValue"
          (ngModelChange)="charismeValueChange($event)"
          type="number"
          min="8"
          max="15"
          value="8"
        />
      </div>
    </div>
    <div class="mt-3 row">
      <div class="col-3"><label>SAGESSE</label></div>
      <div class="col">
        <input
          [ngModel]="sagesseValue"
          (ngModelChange)="sagesseValueChange($event)"
          type="number"
          min="8"
          max="15"
          value="8"
        />
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="mt-3 row">
      <div class="col-3"><label>INTELLIGENCE</label></div>
      <div class="col">
        <input
          [ngModel]="intelligenceValue"
          (ngModelChange)="intelligenceValueChange($event)"
          type="number"
          min="8"
          max="15"
          value="8"
        />
      </div>
    </div>
    <div class="mt-3 row">
      <div class="col-3"><label>DEXTERITE</label></div>
      <div class="col">
        <input
          [ngModel]="dexteriteValue"
          (ngModelChange)="dexteriteValueChange($event)"
          type="number"
          min="8"
          max="15"
          value="8"
        />
      </div>
    </div>
    <div class="mt-3 row">
      <div class="col-3"><label>CONSTITUTION</label></div>
      <div class="col">
        <input
          [ngModel]="constitutionValue"
          (ngModelChange)="constitutionValueChange($event)"
          type="number"
          min="8"
          max="15"
          value="8"
        />
      </div>
    </div>
  </div>
</div>

<!-- <div class="row d-flex justify-content-center">
  <div class="col-3">
    <label>FORCE</label>
    <input
      [ngModel]="forceValue"
      (ngModelChange)="forceValueChange($event)"
      type="number"
      min="8"
      max="15"
      value="8"
    />
    <input type="button" value="Ok" id="forceValue" />
  </div> -->

<!-- <div class="col-3">
  <label>CHARISME</label>
  <input
    [ngModel]="charismeValue"
    (ngModelChange)="charismeValueChange($event)"
    type="number"
    min="8"
    max="15"
    value="8"
  />
  <input type="button" value="Ok" id="charismeValue" />
</div> -->

<!-- <div class="col-3">
  <label>SAGESSE</label>
  <input
    [ngModel]="sagesseValue"
    (ngModelChange)="sagesseValueChange($event)"
    type="number"
    min="8"
    max="15"
    value="8"
  />
  <input type="button" value="Ok" id="sagesseValue" />
</div> -->

<!-- <div class="col-3">
  <label>INTELLIGENCE</label>
  <input
    [ngModel]="intelligenceValue"
    (ngModelChange)="intelligenceValueChange($event)"
    type="number"
    min="8"
    max="15"
    value="8"
  />
  <input type="button" value="Ok" id="intelligenceValue" />
</div> -->

<!-- <div class="col-3">
  <label>DEXTERITE</label>
  <input
    [ngModel]="dexteriteValue"
    (ngModelChange)="dexteriteValueChange($event)"
    type="number"
    min="8"
    max="15"
    value="8"
  />
  <input type="button" value="Ok" id="dexteriteValue" />
</div> -->

<!-- <div class="col-3">
  <label>CONSTITUTION</label>
  <input
    [ngModel]="constitutionValue"
    (ngModelChange)="constitutionValueChange($event)"
    type="number"
    min="8"
    max="15"
    value="8"
  />
  <input type="button" value="Ok" id="constitutionValue" />
</div> -->

<div class="mx-5 mt-3 row d-flex justify-content-end">
  <div class="col-2">
    <a
      class="user-create d-flex justify-content-center p-3"
      routerLink="/competence-personnage"
      routerLinkActive="active"
      >Suivant</a
    >
  </div>
</div>
