
.perso-input{
  border: 2px solid rgba(0, 0, 0, 0.233);
  background-color: rgba(148, 132, 132, 0);
  border-radius : 18px;
  font-size: 1.5vw;
  height: 60px;
  align-items: center;

}

.perso-input p{
  text-align: center;
  line-height: 54px;
}

.card-body img{
  width: 20rem;
  height: 24rem;
  }

  .text-comp {
    font-size: 1.5vw;
  }

  .text-comp span {
    color: #F7D4D2;
    font-size: 2vw;
  }

  .text-carac{
    font-size: 1.5vw;
    text-align: justify;
  }

  .text-carac span {
    color: #F7D4D2;

}

.override-user-create{
  background-color: #eb4d4b;
  border: none;
  }

  .override-user-create:hover{
    background-color: #ff7979;
    transform: none ;
    filter: none;

  }
