<div class="d-flex">
  <img
    class="col-4 d-flex justify-content-left align-items-center"
    src="../assets/Heroes_Foundy_Logo_sans_fond.png"
  />
  <h2 class="col-8 d-flex justify-content-left align-items-center">
    Ajoute tes compétences !
  </h2>
</div>

<div class="row p-3 d-flex justify-content-center">
  <div class="col-6 text-comp">
    <p class="mt-3 row">Vous pouvez choisir 1 compétence parmi les suivantes.</p>
  </div>
</div>

<div class="row d-flex justify-content-center">
  <div class="col-6">
<select [(ngModel)] = "competence">
  <option value="Arcanes">Arcanes</option>
  <option value="Athletisme">Athletisme</option>
  <option value="Tromperie">Tromperie</option>
  <option value="Histoire">Histoire</option>
  <option value="Intimidation">Intimidation</option>
  <option value="Investigation">Investigation</option>
  <option value="Perception">Perception</option>
  <option value="Perspicacite">Perspicacite</option>
  <option value="Persuasion">Persuasion</option>
  <option value="Escamotage">Escamotage</option>
  <option value="Discretion">Discretion</option>
  <option value="Survie">Survie</option>
</select>
</div>
</div>


<div class="mx-5 mt-3 row d-flex justify-content-end">
  <div class="col-2">
    <button class="user-create d-flex justify-content-center p-3" (click)="saveCompetence()">Suivant</button>
  </div>
</div>
