<div class="d-flex">
  <img
    class="col-4 d-flex justify-content-left align-items-center"
    src="../assets/Heroes_Foundy_Logo_sans_fond.png"
  />
  <h2 class="col-8 d-flex justify-content-left align-items-center">
    Créer un compte
  </h2>
</div>

<div class="d-flex justify-content-center row">
  <div class="d-flex justify-content-center col-8">
    <form (ngSubmit)="submit()" [formGroup]="form">
      <input class="user-input" formControlName="pseudo" placeholder="Pseudo" />
      <ng-container *ngIf="form.get('pseudo')?.hasError('required')">
        *champ obligatoire
      </ng-container>
      <ng-container *ngIf="form.get('pseudo')?.hasError('loginExist')">
        *ce pseudo est deja utilisé
      </ng-container>

      <input class="user-input" formControlName="nom" placeholder="Nom" />
      <div
        *ngIf="form.get('nom')?.dirty && form.get('nom')?.invalid"
        class="alert alert-danger"
      >
        *champ obligatoire
      </div>

      <input class="user-input" formControlName="prenom" placeholder="Prenom" />
      <div
        *ngIf="form.get('prenom')?.dirty && form.get('prenom')?.invalid"
        class="alert alert-danger"
      >
        *champ obligatoire
      </div>

      <input
        class="user-input"
        formControlName="login"
        placeholder="Adresse mail"
      />
      <ng-container formGroupName="passwordGroup">
        <input
          class="user-input"
          formControlName="password"
          placeholder="Mot de passe"
        />
        <div
          *ngIf="
            form.get('passwordGroup.password')?.dirty &&
            form.get('passwordGroup.password')?.invalid
          "
          class="alert alert-danger"
        >
          *champ obligatoire
        </div>
        <input
          class="user-input"
          formControlName="confirm"
          placeholder="Confirmation Mot de passe"
        />
        <div
          *ngIf="
            form.get('passwordGroup')?.hasError('passwordAndConfirmNotEquals')
          "
          class="alert alert-danger"
        >
          Les 2 mots de passe sont differents
        </div>
      </ng-container>
      <button class="user-create" type="submit">
        Créer un compte
      </button>
    </form>
  </div>
</div>
