<div class="d-flex">
  <img
    class="col-4 d-flex justify-content-left align-items-center"
    src="../assets/Heroes_Foundy_Logo_sans_fond.png"
  />
  <h2 class="col-8 d-flex justify-content-left align-items-center">
    Choisis ton stuff !
  </h2>
</div>

<div class="row p-3 d-flex justify-content-center">
  <div class="col-6 text-comp">
    <p class="row">Tu peux choisir 1 objet.</p>
    <p class="ita mt-3 row">Choisis avec discernement ...</p>
  </div>
</div>

<div class="d-flex justify-content-center">
  <select [(ngModel)]="stuff">
    <option value="EpeeLongue">Epee Longue</option>
    <option value="Dague">Dague</option>
    <option value="Javeline">Javeline</option>
    <option value="Hache">Hache</option>
    <option value="ArmureCuir">Armure Cuir</option>
    <option value="ArmureCloutee">Armure Cloutee</option>
    <option value="CoteMaille">Cote Maille</option>
    <option value="PotionSoin">Potion Soin</option>
    <option value="PierreTonnerre">Pierre Tonnerre</option>
    <option value="Poison">Poison</option>
  </select>
</div>

<div class="mx-5 mt-3 row d-flex justify-content-end">
  <div class="col-2">
    <button
      class="user-create d-flex justify-content-center p-3"
      (click)="saveStuff()"
    >
      Suivant
    </button>
  </div>
</div>
