
<div class="d-flex">
  <a><img class="col-4 d-flex justify-content-left align-items-center" src="../assets/Heroes_Foundy_Logo_sans_fond.png"/></a>
  <h2 class="col-8 d-flex justify-content-left align-items-center">Bonjour Admin</h2>
</div>

<div class="d-flex justify-content-center p-3">
  <h3>Joueur : User</h3>
</div>


<div class="row d-flex justify-content-center">
  <div class="col-11">
<table class="override-table hover-table table ">
  <thead>
    <tr>
      <th class="override-th" scope="col">id</th>
      <th class="override-th" scope="col">Nom</th>
      <th class="override-th" scope="col">Date de création</th>
      <th class="override-th" scope="col">Valeur possédée</th>
      <th class="override-th" scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="override-th" scope="row">1</th>
      <td class="override-td">Mark</td>
      <td class="override-td">Otto</td>
      <td class="override-td"></td>
      <td class="override-td">
        <div class="d-flex justify-content-center">
          <button type="button" class="mx-2 override-btn-border-radius override-btn btn btn-outline-danger">
            <img  alt="edit" src="../../assets/icons/x.svg">
          </button>
          <img class="mx-2 icon-hover" alt="display" src="../../assets/icons/eye.svg">
        </div>
      </td>
    </tr>
    <tr>
      <th class="override-th" scope="row">2</th>
      <td class="override-td">Jacob</td>
      <td class="override-td">Thornton</td>
      <td class="override-td"></td>
      <td class="override-td">
        <div class="d-flex justify-content-center">
          <button type="button" class="mx-2 override-btn-border-radius override-btn btn btn-outline-danger">
            <img  alt="edit" src="../../assets/icons/x.svg">
          </button>
          <img class="mx-2 icon-hover" alt="display" src="../../assets/icons/eye.svg">
        </div>
      </td>
    </tr>
    <tr>
      <th class="override-th" scope="row">3</th>
      <td class="override-td" colspan="2">Larry the Bird</td>
      <td class="override-td"></td>
      <td class="override-td">
        <div class="d-flex justify-content-center">
          <button type="button" class="mx-2 override-btn-border-radius override-btn btn btn-outline-danger">
            <img  alt="edit" src="../../assets/icons/x.svg">
          </button> <img class="mx-2 icon-hover" alt="display" src="../../assets/icons/eye.svg">
        </div>
      </td>
    </tr>
  </tbody>
</table>
</div>
</div>
<div class="my-3 row">
  <div class="col d-flex justify-content-center">
<button class="override-btn btn btn-primary" type="submit">Bannir le joueur</button>
</div>
</div>
